@import url(https://fonts.google.com/specimen/Outfit);

body {
    background-color: white;
}

#image img {
    display: block;
    margin: 0 auto;
    border-color: black;
    border-radius: 20px;
    max-width: 100%;
}

#subtitle, #brown-list #macros {
    color: brown;
}
 
#Preparation-time {
    background-color: papayawhip;
    border-radius: 10px;
    padding: 10px;
}

#purple-list {
    color: rosybrown; 
}

div {
    text-align: left; 
}

p, li{
    font-size: 25px;
    font-family: Outfit;
}

li {
    line-height: 2;
    color: black;
}

body {
    margin: 20px 20px;
    font-family: Outfit;
}

h1 {
    font-size: 60px;
    font-family: Outfit;
}

h2 {
    font-size: 40px;
    font-family: Outfit;
}

h3 {
    font-size: 30px;
    padding: 10px;
    color: orangered;
    font-family: Outfit;
}

hr {
    margin: 15px 15px;
}

table {
    font-family: Outfit;
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;
    font-size: 25px;
}

td {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
}

.macros {
    color: brown;
}
   
